**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/TestResults
**/artifacts
**/logs
**/Logs

**/.env
**/.env.*
!**/.env.example

**/tests
**/docs
**/database
**/scripts
**/*.md
!**/.env.example

**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/docker-compose*.yaml
